/* font inspired by TEKKEN 7 main menu - used for headers */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* page positioning */
*{
    margin:0%;
    padding:0%;
    border:none;
}

/* default fonts and text margins*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: large;
    color: #fff;
}

h1, h2, h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    word-break: break-word;
}

h1{
    font-size: 3rem;
    margin: 45px 0 60px;
    text-align: center; 
}

h2{
    font-size: 2rem;
    margin: 45px 0 60px;
    text-align: center; 
}

h3{
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center; 
}

/* paragraphs and linebreaks*/
br{
    content: "";
    display: block;
    margin-bottom: 1.5em;
}

hr{
    border: none;
    border-top: 1px solid rgba(0,0,0,0.25);
    margin: 45px 0;
}

/* header */
header{
    display: block;
    z-index: +1;
    position: fixed;
    width: 100%;
}

#logo-container{
    background: #b20204 url("../images/bg-color-header.png");
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-logo{
    display: block;
    padding: 10px 0 0;
    margin: 0 auto;
    max-width: 100%;
}

/* navigation bar */
nav{
    width: 100%;
    background: #000;
}

nav a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover{
    text-decoration: underline 1px;
    text-underline-offset: 5px;
}

.active{
    text-decoration: underline 1px;
    text-underline-offset: 5px;
}

.nav-link{
    content-visibility: visible;
}

#nav-list{
    padding: 15px 0;
    margin: inherit;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

/* mobile nav bar */
/* code used is from css-tricks.com, see README */
#menu-toggle {
    display: block;
    position: relative;
    top: 20px;
    left: 50px;  
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    content-visibility: hidden;
  }
  
#menu-toggle input{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0;
    z-index: 3; 
    -webkit-touch-callout: none;
}
  
#menu-toggle label{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 2;
    color: #eee;
}

#menu-toggle label span{
    display: none;
}

#menu-toggle label i{
    font-size: x-large;
}
  
/* Changes the color of the hamburger when toggled */
#menu-toggle input:checked + label i{
    color: #fff;
}
  
/* Uses absolute positioning to place the menu off-screen */
#menu{
    position: absolute;
    width: 100%;
    margin: -50px 0 0 -100px;
    padding: 50px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    background: #000;
    left: -200%;
    text-align: center;
}

/* moves menu onto screen when checked */
#menu-toggle input:checked ~ ul {
    left: 0;
}

/* hero images */
.hero-outer{
    height: 540px;
    width: 100%;
    padding-top: 190px;
    position: relative;
    overflow: hidden;
}

.hero-image{
    background-color: darkslategray;
    height: 100%;
    width: auto;
}

#hero-image-1{
    background: url("../images/tekken-hero-image-1.jpg") #334a73 no-repeat center center ;
    background-size: cover;
}

#hero-image-2{
    background: url("../images/tekken-hero-image-2.jpg") #5C4280 no-repeat center center ;
    background-size: cover;
}

#hero-image-3{
    background: url("../images/tekken-hero-image-3.jpg") #4d7eab no-repeat center center ;
    background-size: cover;
}

#hero-image-4{
    background: url("../images/tekken-hero-image-4.jpg") #2F4858 no-repeat center center ;
    background-size: cover;
}

#hero-image-5{
    background: url("../images/tekken-hero-image-5.jpg") #5c3857 no-repeat center center ;
    background-size: cover;
}

/* container classes*/
.transparent-container{
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    padding: 45px 10%;
    border-radius: 15px;
    margin: 45px 5%;
    border: 2px solid rgba(0,0,0,0.25);
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-logo-container{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.game-logo-container img{
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
    max-width: fit-content;
}

.left-div{
    box-sizing: border-box;
    float: left;
    width: 50%;
}

.right-div{
    box-sizing: border-box;
    float: right;
    width: 50%;
}

/* index.html */
/* about section */
#about-section{
    height: auto;
    background-color:#334a73;
}

#about-section .video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#about-section .right-div{
    margin: 0 0 2.5rem 1.5rem;
    max-height: 350px;
}

#about-section .left-div{
    padding-right: 45px;
}

/* TEKKEN World Tour Promo section */
#twt-promo{
    height: auto;
    background-image: linear-gradient(#334a73, #b20204 40%, #334a73) ;
    padding: 45px 15%;
}

#twt-logo{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#twt-promo .video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

#twt-promo iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    max-height: 100%;
    resize: none;
}

#twt-promo .transparent-container{
    margin: 45px 0;
    padding: 45px 5%;
}

#twt-promo .transparent-container p{
    margin: 0 0 45px 0;
}

#twt-promo a{
    color: #66C7FF;
}

#twt-promo a:hover{
    color: #abe0ff;
}

/* games.html */
/* mainline games main section */
#mainline-games-section{
    background-color:#5C4280;
    background-image: linear-gradient(#5C4280, #334a73);
    padding: 0 0 45px;
}

#mainline-games-section .transparent-container{
    margin-bottom: 0;
    padding-top:0;
    padding-bottom: 0;
}

#mainline-games-section p{
    margin: 45px 0;
}

/* spinoffs.html */
/* spin-off games main section */
#spinoff-games-section{
    background-color: #4d7eab;
    background-image: linear-gradient(#4d7eab, #5C4280);
    padding: 0 0 45px;
}

#spinoff-games-section .transparent-container {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#spinoff-games-section p {
    margin: 45px 0;
}

/* beginners-guide.html */
/* beginner's guide main section */
#beginners-guide-section{
    background-color: #2F4858;
    background-image: linear-gradient(#2F4858,#4d7eab);
}

#beginners-guide-section .transparent-container{
    padding: 45px 2.5%;
}

#beginners-guide-section p{
    padding: 25px 10%;
}

#beginners-guide-section h3{
    margin: 45px 0;
}

#beginners-guide-section .video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#beginners-guide-section .video-padding{
    padding: 0 15%;
}

/* tables */
.notation-table{
    margin: 45px auto;
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
}

.notation-table td{
    border: 2px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
    padding: 10px 0 5px;
    text-align: center;
}

/* sign-up.html */
/* newsletter sign-up main section */
#sign-up-section{
    background-color: #5c3857;
    text-align: center;
}

#form-container{
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.25);
    margin: 45px 0;
    padding: 15px 2.5%;
}

#form-container h3{
    margin: 20px 0;
    letter-spacing: 3px;
}

#text-input{
    margin: 15px 0;
}

#checkbox-input{
    margin: 5px 0 15px;
    display: inline-block;
    text-align: left;
}

#form-container label{
    font-size: large;
    font-style: italic;
}

#form-container br{
    margin-bottom: 5px;
}

#form-container button{
    font-size: large;
    font-style: italic;
    letter-spacing: 1px;
    padding: 5px 45px;
    margin: 0 0 20px;
}

/* footer */
footer{
    background-color: #000;
    padding: 1.5rem;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer a{
    font-size: 1.5rem;
    padding: 2px;
    color: #fff;
}

footer a:hover{
    color:#66C7FF;
}

/* media queries */
/* 1300px and down */
@media screen and (max-width: 1300px) {
    
    footer ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #footer-links{
        margin: 15px 0 0;
    }
}

/* 1000px and down */
@media screen and (max-width: 1000px) {

    /* navigation */
    #nav-list{
        content-visibility: hidden;
    }
    #menu-toggle {
        content-visibility: visible;
    }
    /* all pages */
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }
    
    h3{
        font-size: 1.25rem;
    }

    .transparent-container {
        padding: 45px 5%;
    }

    .left-div{
        margin: 0;
        width: 100%;
    }
    
    .right-div{
        margin: 0;
        width: 100%;
    }
    
    .game-logo-container{
        padding: 0;
    }

    /* index.html */
    #twt-promo{
        padding: 45px 5%;
    }

    /* games.html */
    #mainline-games-section h2,h3{
        margin: 2rem 0;
    }

    /* beginners-guide.html */
    #beginners-guide-section h2,h3{
        margin: 2rem 0;
    }

    #about-section .video-padding{
        padding: 0 7.5%;
    }
    
    #beginners-guide-section .video-padding {
        padding: 0;
    }
}

/* 500px and down */
@media screen and (max-width: 500px) {

    /* all pages */ 
    p{
        word-break: break-word;
    }

    /* index.html */
    #about-section .video-padding {
        padding: 0;
    }

    /* sign-up.html */
    #text-input {
        margin: 15px 5%;
        display: grid;
    }

    #text-input input,select{
        width: 100%;
    }
    
    #form-container button{
        width: 80%;
        padding: 5px 10%;
    }
}

