/* page positioning */
body {
    margin: 0;
    padding: 0;
}

header{
    background-color: #444;
}

#main-logo{
    display: block;
    padding:15px 0 0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

nav{
    height: 45px;
    padding: 0%;
    width: 100%;
    background: #000;
}

nav a{
    color: #fff;
}

#nav-list{
    padding: 15px 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}